<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Form</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-wdth, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form action="/login" method="post">
        <label for="name">Name <input type="text" name="name" placeholder="name"></label><br>
        <label for="address">Address <input type="text" name="address"></label><br>
        <label for="age">Age <input type="int" name="age" placeholder="age"></label><br>
        <label for="email">Email <input type="email" name="email" placeholder="email@unn"></label><br>
        <label class="submit" for="submit"><input type="submit" value="submit"></label><br>
    </form>
</body>
</html>